* {
    box-sizing: border-box;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(93, 202, 241);
    /* margin: 0 auto; */
}

.bg-img {
    width: 100%;
    height: 100%;
}

.logo-container {
    position: absolute;
    width: 30%;
    transform: translate(120%, 30%);
    z-index: 3;
    /* top: 0%; */
    animation: logoPulse 2s infinite;
    /* animation: logoUp 1s forwards, logoPulse 2s infinite; */
}

@keyframes logoUp {
    0% {
        top: 40%;
    }

    100% {
        top: 0%;
    }
}

@keyframes logoPulse {
    0% {
        transform: scale(1), translate(120%, 30%);
    }

    50% {
        transform: scale(1.5), translate(120%, 30%);
    }

    100% {
        transform: scale(1), ranslate(120%, 30%);
    }
}

.logo,
.cta,
.title,
.grass,
.napkins,
.stars {
    width: 100%;
}

.title {
    position: absolute;
}

.cta-container {
    position: absolute;
    /* bottom: 55px;
    left: 170px; */
    width: 62%;
    /* left: 60px;
    bottom: 65px; */
    /* transform: translate(20%, 1093%); */
    z-index: 3;
    animation-name: puls;
    /* animation: pulse_cta 2s steps(2) ease-in-out infinite; */
    left: 83px;
    bottom: 51px;
}

.cta {
    animation: pulse_cta 3s infinite;
}

.title-container {
    position: absolute;
    width: 73%;
    height: 15%;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
}

.stars-container-left {
    position: absolute;
    /* width: 110%; */
    width: 120px;
    height: 150px;
    /* transform: translate(24px, 339px); */
    animation: flyLeft 3s ease-in-out infinite;
    top: 47%;
    left: 21%;
    transform: translate(-50%, 100%);

}

.stars-container-left img {
    position: absolute;
    width: 50px;
}

@keyframes flyLeft {
    0% {
        transform: translate(50%, 50%); /* Початкова позиція (за межами контейнера) */
    }
    100% {
        transform: translate(-58%, -50%); /* Кінцева позиція (видима в центрі контейнера) */
    }
}

.stars-container-right {
    position: absolute;
    /* width: 110%; */
    width: 120px;
    height: 150px;
    /* transform: translate(313px, 360px); */
    animation: flyRight 3s ease-in-out infinite;
    top: 55%;
    right: 30%;
    transform: translate(-50%, 100%);
}

@keyframes flyRight {
    0% {
        transform: translate(0%, 0%); /* Початкова позиція (за межами контейнера) */
    }
    100% {
        transform: translate(110%, -106%); /* Кінцева позиція (видима в центрі контейнера) */
    }
}

.stars-container-right img {
    position: absolute;
    width: 65px;
}

.star-1 {
    top: -8px;
    left: 22px;
}

.star-2 {
    left: 23px;
    top: 84px;
}

.star-3 {
    top: 30px;
    left: 2px;
}

.star-4 {
    top: 72px;
    left: 22px;
}

.star-5 {
    top: 33px;
    left: 8px;
}

.napkins-container {
    position: absolute;
    width: 81%;
    left: 35px;
    top: 386px;
    z-index: 2;
    animation-name: puls;
    animation: pulse 2s ease-in-out infinite;
}

.napkins {
    animation: pulse 2s infinite;
}

@keyframes pulse_cta {
    0% {
        transform: scale(1); /* Початковий розмір */
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1); /* Збільшення на 20% */
    }
    100% {
        transform: scale(1); /* Повернення до початкового розміру */
    }
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Початковий розмір */
    }
    50% {
        transform: scale(1.1); /* Збільшення на 20% */
    }
    100% {
        transform: scale(1); /* Повернення до початкового розміру */
    }
}

.grass-container {
    position: absolute;
    /* bottom: 55px;
    left: 170px; */
    width: 100%;
    transform: translate(0%, 331%);
    z-index: 1;
}

body {
    height: 100vh;
    margin: 0;
    width: 100vw;
}