@use './adChoice.scss';

iframe {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.LM_container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@mixin fullScreen {
    width: 100%;
    height: 100%
 }

.LM_loading_page {
    display: none;
    position: absolute;
    z-index: 100000;
    background: #000;
    @include fullScreen;

    .preloader {
        display: inline-block;
        font-size: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.LM_landscape {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffff url(https://i.loopme.me/html/general/not_available.png) no-repeat;
    background-position: center center;
    background-size: 70px;
    z-index: 100000000;
}

.LM_content {
    @include fullScreen;
    overflow: hidden;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logoZone {
        height: 10%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .headerShadow {
            @include fullScreen;
            position: absolute;
            animation: shadow 2s linear infinite;

            @keyframes shadow {
                50% {
                    opacity: .5;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        .logo {
            position: absolute;
            top: 40%;
            width: 28%;
            animation: logoMove 1.5s forwards;

            @keyframes logoMove {
                0% {
                    transform: scale(0);
                }

                100% {
                    transform: scale(1);
                }
            }
        }
    }

    .bgZone {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40%;
            width: 55%;
            position: absolute;
            top: 0;

            .dash,
            .for,
            .gold,
            .sparkle,
            .cross {
                position: absolute;
                width: 100%;
                top: 0;
                opacity: 0;
            }

            .dash {
                transform: translateY(9%);
            }


            .sparkleItem1,
            .sparkleItem2,
            .sparkleItem3,
            .sparkleItem4,
            .sparkleItem5 {
                opacity: 0;
                transform: scale(0.2);
                animation: titleUp 1.5s linear 1s forwards, sparkleTitle 5s linear 1s infinite;
            }

            .sparkleItem6 {
                opacity: 0;
                transform: scale(0.2);
                animation: titleUp 1.5s linear 1s forwards, sparkleTitle 5s linear infinite;
            }

            @keyframes titleUp {
                40%,
                100% {
                    opacity: 1;
                    transform: translateY(0) scale(1);
                }
            }

            @keyframes sparkleTitle {
                0%,
                30%,
                70%,
                100% {
                    opacity: 1;
                }

                10%,
                50%,
                85% {
                    opacity: 0.7;
                }
            }


            .for {
                transform: translateY(13%) scale(0.2);
                opacity: 0;
            }

            .gold {
                transform: translateY(17%) scale(0.2);
                opacity: 0;
            }

            .sparkleAnim1,
            .sparkleAnim2,
            .sparkleAnim3,
            .sparkleAnim4,
            .sparkleAnim5 {
                opacity: 0;
            }

            .sparkleAnim1 {
                animation: sparkleAnim 4s linear 1s infinite;
            }

            .sparkleAnim2 {
                animation: sparkleAnim 4s linear 3s infinite;
            }

            .sparkleAnim3 {
                animation: sparkleAnim 4s linear 2s infinite;
            }

            .sparkleAnim4 {
                animation: sparkleAnim 4s linear 5s infinite;
            }

            .sparkleAnim5 {
                animation: sparkleAnim 4s linear 4s infinite;
            }

            @keyframes sparkleAnim {

                0%,
                30%,
                70%,
                100% {
                    opacity: 0;
                }

                20%,
                40%,
                80%{
                    opacity: 1;
                }
            }

            @keyframes changeOpacityCross {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
              
              @for $i from 1 through 11 {
                .opacityCross#{$i} {
                  opacity: 0;
                  animation: changeOpacityCross 1.5s ease-in-out forwards;
                  animation-delay: #{1.4 + ($i * 0.1)}s;
                }
              }
              
              .title_cross {
                opacity: 0;
                animation: changeOpacityCross 1.5s ease-in-out forwards;
                animation-delay: 2.6s;
              }

            .title_cross,
            .title_with,
            .title_panda {
                opacity: 0;
                position: absolute;
                width: 100%;
            }

            .title_with {
                animation: changeOpacity 3s ease-in-out 1.5s forwards;
            }

            .title_panda {
                animation: changeOpacity 3s ease-in-out 1.8s forwards;
            }
        }

        @keyframes changeOpacity {
            0% {
                opacity: 0;
            }

            50%,
            100% {
                opacity: 100%;
            }
        }

        .title_text {
            height: 5%;
            width: 80%;
            position: absolute;
            top: 44%;

            .text {
                position: absolute;
                width: 100%;
                opacity: 0;
                animation: changeOpacity 2s ease-in-out 3s forwards;
            }
        }

        .images {
            height: 55%;
            width: 100%;
            position: absolute;
            bottom: 0;

            .box {
                .boxChest {
                    width: 65%;
                    position: absolute;
                    top: 19%;
                    right: 0;

                    @media (min-aspect-ratio: 540 / 1000) {
                        top: 15%;
                    }

                    @media (min-aspect-ratio: 540 / 1000) {
                        top: 14%;
                    }

                    @media (min-aspect-ratio: 600 / 1000) {
                        width: 64%;
                    }
                }

                .boxCoins {
                    width: 17%;
                    position: absolute;
                    top: 69%;
                    right: 46%;

                    @media (min-aspect-ratio: 510 / 1000) {
                        width: 15%;
                        top: 74%;
                        right: 48%;
                    }

                    @media (min-aspect-ratio: 510 / 1000) {
                        top: 79%;
                        right: 49%;
                    }
                }

                .chestSparkle1,
                .chestSparkle2 {
                    height: 55%;
                    position: absolute;
                    top: 17%;
                    right: -2%;
                    opacity: 0;

                    @media (min-aspect-ratio: 490 / 1000) {
                        top: 18%;
                        right: -1%;
                    }
                    @media (min-aspect-ratio: 510 / 1000) {
                        top: 19%;
                        right: 2%;
                    }

                    @media (min-aspect-ratio: 540 / 1000) {
                        top: 15%;
                    }

                    @media (min-aspect-ratio: 600 / 1000) {
                        top: 17%;
                    }
                }

                .chestSparkle1 {
                    animation: sparkleCoins 5s linear infinite;
                }

                .chestSparkle2 {
                    animation: sparkleCoins 5s 1s linear infinite;
                }

                .chestSparkle3 {
                    height: 55%;
                    position: absolute;
                    top: 12%;
                    right: -3%;
                    animation: sparkleCoins 5s linear infinite;

                    @media (min-aspect-ratio: 470 / 1000) {
                        top: 14%;
                    }

                    @media (min-aspect-ratio: 490 / 1000) {
                        top: 16%;
                    }

                    @media (min-aspect-ratio: 510 / 1000) {
                        top: 17%;
                    }

                    @media (min-aspect-ratio: 530 / 1000) {
                        top: 18%;
                        right: -2%;
                    }

                    @media (min-aspect-ratio: 540 / 1000) {
                        top: 15%;
                    }

                    @media (min-aspect-ratio: 560 / 1000) {
                        top: 16%;
                    }

                    @media (min-aspect-ratio: 570 / 1000) {
                        top: 17%;
                    }

                    @media (min-aspect-ratio: 600 / 1000) {
                        top: 19%;
                    }
                }

                @keyframes sparkleCoins {

                    0%,
                    45%,
                    100% {
                        opacity: 0;
                    }

                    25%,
                    65% {
                        opacity: .6;
                    }

                    80% {
                        opacity: .4;
                    }
                }
            }

            .panda {
                opacity: 0;
                top: 16%;
                position: relative;
                transform: translateY(-25%);
                animation: movePanda 2s ease-in-out 1.5s forwards;

                @media (min-aspect-ratio: 540 / 1000) {
                    top: 13%;
                }

                @keyframes movePanda {
                    0% {
                        opacity: 0;
                        transform: translateX(-60%);
                    }

                    20%,
                    100% {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                .pandaArm,
                .pandaBody,
                .pandaHead,
                .pandaGlass,
                .pandaHand,
                .pandaMouth {
                    top: 11%;
                    position: absolute;
                    width: 64%;
                    left: -6%;

                    @media (min-aspect-ratio: 540 / 1000) {
                        width: 62%;
                    }
                }

                .pandaArm {
                    transform: rotate(0);
                    animation: moveArm 3s linear infinite;
                    ;

                    @keyframes moveArm {

                        0%,
                        90%,
                        100% {
                            transform: rotate(0deg);
                        }

                        30% {
                            transform: rotate(-2deg);
                        }

                        60% {
                            transform: rotate(2deg);
                        }
                    }
                }

                .pandaHead {
                    transform: rotate(0);
                    animation: moveHead 3s linear infinite;
                    ;

                    @keyframes moveHead {

                        0%,
                        100% {
                            transform: rotate(0deg);
                        }

                        35% {
                            transform: rotate(-3deg);
                        }

                        75% {
                            transform: rotate(3deg);
                        }
                    }
                }

                .pandaGlass {
                    top: 12%;
                    animation: moveGlass 7s linear infinite;

                    @keyframes moveGlass {

                        0%,
                        50% {
                            transform: rotate(0deg);
                        }

                        25% {
                            transform: rotate(-5deg);
                        }

                        75% {
                            transform: rotate(-5deg);
                        }

                        100% {
                            transform: rotate(0deg);
                        }
                    }
                }

                .pandaMouth {
                    top: 12%;
                }

                .pandaSparkle {
                    top: 8%;
                    position: absolute;
                    width: 61%;
                    left: -4%;
                    transform: translateX(0);
                    animation: pandaSparkleAnim 1.8s linear infinite;

                    @keyframes pandaSparkleAnim {

                        0%,
                        100% {
                            opacity: 1;
                            transform: translateX(0);
                        }

                        50% {
                            opacity: 0.5;
                            transform: translateX(-5%);
                        }
                    }
                }
            }

            .fruits {
                opacity: 0;
                animation: changeOpacity 2s ease-in-out 2.5s forwards;


                .grapes,
                .grapesShadow {
                    top: 76%;
                    position: absolute;
                    width: 39%;
                    left: -3%;
                    opacity: 0;
                    z-index: 2;

                    @media (min-aspect-ratio: 490 / 1000) {
                        top: 78%;
                    }

                    @media (min-aspect-ratio: 520 / 1000) {
                        top: 80%;
                    }

                    @media (min-aspect-ratio: 530 / 1000) {
                        width: 37%;
                    }

                    @media (min-aspect-ratio: 580 / 1000) {
                        width: 35%;
                        top: 82%;
                    }

                    @media (min-aspect-ratio: 600 / 1000) {
                        width: 33%;
                        top: 83%;
                    }
                }
                .grapes {
                    animation: animFruit 1.2s ease-in-out 2s forwards;
                }

                .grapesShadow {
                    animation: changeOpacityText 1.5s linear 1.8s forwards;
                }

                .carrot,
                .carrotShadow {
                    top: 66%;
                    position: absolute;
                    width: 30%;
                    left: 59%;
                    opacity: 0;

                    @media (min-aspect-ratio: 520 / 1000) {
                        top: 68%;
                        width: 28%;
                        left: 57%;
                    }

                    @media (min-aspect-ratio: 520 / 1000) {
                        top: 70%;
                    }
                }

                .carrot {
                    animation: animFruit 1s ease-in-out 2.4s forwards;
                }

                .carrotShadow {
                    animation: changeOpacityText 1.5s linear 2.2s forwards;
                }

                .cabbage,
                .cabbageShadow {
                    top: 74%;
                    position: absolute;
                    width: 33%;
                    left: 70%;
                    opacity: 0;

                    @media (min-aspect-ratio: 520 / 1000) {
                        top: 76%;
                    }
                }

                .cabbage {
                    animation: animFruit 1s ease-in-out 2.2s forwards;
                }

                .cabbageShadow {
                    animation: changeOpacityText 1.5s linear 2s forwards;
                }


                .orange,
                .orangeShadow {
                    top: 76%;
                    position: absolute;
                    width: 26%;
                    left: 45%;
                    transform-origin: center;
                    opacity: 0;

                    @media (min-aspect-ratio: 520 / 1000) {
                        top: 79%;
                    }

                    @media (min-aspect-ratio: 600 / 1000) {
                        width: 23%;
                    }
                }

                .orange {
                    animation: animFruit 1s ease-in-out 2.8s forwards;
                }

                .orangeShadow {
                    animation: changeOpacityText 1.5s linear 2.8s forwards;
                }

                .apple {
                    top: 43%;
                    position: absolute;
                    width: 12%;
                    left: 4%;
                    opacity: 0;
                    animation: moveApple 2s linear 6s forwards;

                    @keyframes moveApple {
                        0% {
                            opacity: 1;
                            transform: translateY(-1000%);
                        }

                        20%,
                        100% {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }

                    @media (min-aspect-ratio: 470 / 1000) {
                        top: 45%;
                    }

                    @media (min-aspect-ratio: 500 / 1000) {
                        top: 46%;
                        width: 11%;
                    }

                    @media (min-aspect-ratio: 610 / 1000) {
                        top: 49%;
                    }
                }

                .leafFirst {
                    position: absolute;
                    bottom: 11%;
                    left: 7%;
                    width: 5%;
                    animation: leafAnimation 3s linear 3.5s forwards;
                    transform: translateY(-3500%);
                    opacity: 0;

                    @media (min-aspect-ratio: 530 / 1000) {
                        bottom: 8%;
                    }
                }

                .leafSecond {
                    position: absolute;
                    bottom: 13%;
                    left: 7%;
                    width: 5%;
                    animation: leafAnimation 4s linear 4s forwards;
                    opacity: 0;
                    z-index: 1;

                    @media (min-aspect-ratio: 530 / 1000) {
                        bottom: 6%;
                    }
                }

                @keyframes leafAnimation {
                    0% {
                        opacity: 1;
                        transform: translateY(-3500%);
                    }

                    25% {
                        opacity: 1;
                        transform: translateY(-2500%) rotate(30deg);
                    }

                    50% {
                        opacity: 1;
                        transform: translateY(-1500%) rotate(-30deg);
                    }

                    75% {
                        opacity: 1;
                        transform: translateY(-500%) rotate(30deg);
                    }

                    100% {
                        opacity: 1;
                        transform: translateY(0) rotate(0deg);
                    }
                }

                @keyframes animFruit {
                    0% {
                        opacity: 1;
                        transform: translateY(-2000%) rotate(220deg);
                    }

                    100% {
                        opacity: 1;
                        transform: translateY(0) rotate(0deg);

                    }
                }
            }
        }
    }

    @keyframes changeOpacityText {
        0% {
            opacity: 0;
        }

        30%,
        100% {
            opacity: 1;
        }

    }

    .ctaZone {
        height: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 1%;

        .cta {
            height: 65%;
            width: 50%;
            position: absolute;
            position: relative;

            .ctaShadow,
            .ctaBtn,
            .ctaText1,
            .ctaText2 {
                position: absolute;
                @include fullScreen;
                opacity: 0;
            }

            .ctaText1 {
                animation: changeOpacityText 2s linear 4.8s forwards, clickOnCta 9s linear 6s infinite;
            }
            .ctaText2 {
                animation: changeOpacityText 2s linear 5s forwards, clickOnCta 9s linear 6s infinite;
            }

            .ctaBtn {
                animation: changeScaleCta 1.4s linear 4.4s forwards, clickOnCta 9s linear 6s infinite;

                @media (min-aspect-ratio: 540 / 1000) {
                    top: 2%;
                }
            }


            @keyframes changeScaleCta {
                0% {
                    opacity: 0;
                    transform: scaleX(0);
                }

                20%, 100% {
                    opacity: 1;
                    transform: scaleX(1);
                }
            }

            @keyframes clickOnCta {
                0% {
                    transform: translateY(0);
                }

                5% {
                    transform: translateY(10%);
                }

                10%,
                100% {
                    transform: translateY(0);
                }
            }

            .ctaShadow {
                animation: changeScaleCta 1.5s linear 4.4s forwards;
                top: 2%;

                @media (min-aspect-ratio: 540 / 1000) {
                    top: 8%;
                }
            }

        }

        .tSc {
            position: absolute;
            width: 15%;
            bottom: -1%;
            opacity: 0;
            animation: changeOpacityTsc 1s ease-in-out 4s forwards;
        }

        @keyframes changeOpacityTsc {
            0% {
                opacity: 0;
            }
            70%, 100% {
                opacity: 1;
            }
            
        }
    }
}