* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.LM_container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.LM_content {
    background-color: rgb(1, 95, 59);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ad_choice_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 77px;
    height: 15px;
    z-index: 1000;
    border-radius: 0 0 8px 0;
    overflow: hidden;
}

.ad_choice_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 100%;
    background: #ffe url(https://i.loopme.me/html/adChoice/img/icon.png) center / cover no-repeat;
    border-radius: 0 0 8px 0;
}

.ad_choice_click {
    position: absolute;
    top: 0;
    left: 0;
    width: 77px;
    height: 100%;
    transform: translate(-77px, 0);
    transition: .2s;
    background: #e3c6c0 url(https://i.loopme.me/html/adChoice/img/click.png) no-repeat left center;
    background-size: contain;
}

.ad_choice_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

main {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_container,
.cards_container,
.play_the_bills_container,
.cta_container,
.cards {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo_container {
    height: 20%;
    align-items: end;
}

.logo {
    width: 20%;
    opacity: 0;
    animation: changeOpacity 4s forwards;
}

@keyframes changeOpacity {
    100% {
        opacity: 1;
    }
}

.cards_container {
    height: 53%;
    align-items: end;
    position: relative;
}

.circle {
    width: 96%;
    top: 8%;
    position: absolute;
    transform: scale(0) rotate(0deg);
    animation: 2s changeScale 2s linear forwards,
    6s changeSpin 1s linear infinite;
}

@keyframes changeScale {
    100% {
        transform: scale(1);
    }
}

@keyframes changeSpin {

    25% {
        transform: scale(1) rotate(90deg);
    }
    50% {
        transform: scale(1) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.cards {
    position: absolute;
    height: 100%;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    animation: 2s moveUp 2s linear forwards, 3s changeOpacity 1s linear forwards;
}

@keyframes moveUp {
    100% {
        transform: translateY(0);
    }
}

.card {
    position: absolute;
}

.phone {
    width: 29%;
    left: 36%;
    top: 31%;
    z-index: 6;
}

.jackson {
    width: 52%;
    right: 6%;
    top: 31%;
    z-index: 5;
}

.washington {
    width: 38%;
    top: 64%;
    left: 12%;
    z-index: 4;
}

.jefferson {
    width: 33%;
    top: 43%;
    left: 13%;
    z-index: 3;
}


.lincoln {
    width: 33%;
    top: 15%;
    left: 21%;
    z-index: 2;
}

.hamilton {
    width: 40%;
    top: 8%;
    left: 42%;
    z-index: 1;
}

.hand {
    width: 74%;
    bottom: -26px;
    position: absolute;
    left: 4%;
    z-index: 7;
}

.play_the_bills_container {
    height: 13%;
    position: relative;
    align-items: center;
    z-index: 8;
    overflow: hidden;
}

.text_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    top: -4%;
    width: 100%;
    height: 100%;
}

.text {
    width: 22%;
    margin: 0 1%;
}

.play {
    opacity: 0;
    animation: 2s changeOpacity 1.6s forwards;
}

.the {
    width: 17%;
    margin-bottom: -5%;
    opacity: 0;
    animation: 2s changeOpacity 2s forwards;
}

.bills {
    opacity: 0;
    animation: 2s changeOpacity 2.4s forwards;
}

.banner {
    width: 100%;
    position: absolute;
    transform: scale(0);
    animation: 1.4s changeScale 0.5s forwards;
}

.cta_container {
    height: 14%;
    align-items: center;
}

.cta {
    width: 44%;
    height: 48%;
}