* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background: url(./Assets/bgd.jpg);
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.logo-container,
.title-container,
.info-container {
    position: absolute;
    width: 100vw;
}

.logo-container {
    height: 23%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-image {
    display: flex;
    justify-content: center;
    height: 46%;
    margin-bottom: 5%;
    width: 72%;
    position: relative;
    align-items: center;
}

.logo-draft {
    width: 33%;
}

.logo-super {
    width: 32%;
}

.line {
    width: 3%;
}

.box {
    position: absolute;
}

.start-animation .box-left {
    left: 10%;
    animation: moveLeftToCenter 1s ease-in-out forwards;
}

.start-animation .box-right {
    right: 11%;
    animation: moveRightToCenter 1s ease-in-out forwards;
}

@keyframes moveLeftToCenter {
    0% {
        transform: translateX(-60%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveRightToCenter {
    0% {
        transform: translateX(60%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.start-animation .logo-info {
    animation-delay: 50s;
    animation: fadeIn 1s ease-in forwards;
    display: flex;
    justify-content: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo-tagline {
    width: 54%;
}

.cta-container {
    position: absolute;
    top: 21%;
    height: 45%;
    width: 100vw;
}

.title-image {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.title {
    opacity: 0;
}

.start-animation .title-1 {
    margin-left: -5%;
    width: 57%;
    animation-delay: 0.5s;
    animation: titleMoveToCenter 0.5s ease-in-out forwards;
}

.start-animation .title-2 {
    width: 57%;
    animation-delay: 1s;
    animation: titleMoveToCenter 0.5s ease-in-out forwards;
    animation-delay: 0.1s;
}

.start-animation .title-3 {
    width: 78%;
    animation-delay: 1.2s;
    animation: titleMoveToCenter 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
}

.start-animation .title-4 {
    width: 56%;
    animation-delay: 1.4s;
    animation: titleMoveToCenter 0.5s ease-in-out forwards;
    animation-delay: 0.3s;
}

.start-animation .title-5 {
    width: 42%;
    animation: titleMoveToCenter 0.5s ease-in-out forwards;
    animation-delay: 0.4s;
}

@keyframes titleMoveToCenter {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.start-animation .bet-now {
    width: 34%;
    height: 8%;
    margin-top: 10%;
    position: relative;
    left: 7%;
    opacity: 0;
    animation: pulseAnimation 1s infinite;
    animation-delay: 0.5s;
}

@keyframes pulseAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes changeOpasity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.orange {
    width: 80%;
}

.text {
    left: 3%;
    position: absolute;
    top: 20%;
    display: flex;
    height: 84%;
}

.start-animation .cta-txt1 {
    margin-right: 3%;
    animation: changeOpasity 0.5s ease-in-out forwards;
}

@keyframes changeOpasity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
} 

.start-animation .cta-txt2 {
    margin-right: 3%;
    animation: changeOpasity 1.5s ease-in-out forwards;
}

.ball-container {
    width: 70%;
    height: 51%;
    position: absolute;
    bottom: -4%;
    left: 35%;
    top: 81%;
}

.start-animation .ball {
    position: absolute;
    z-index: 2;
    width: 100%;
    opacity: 0;
    animation: flyIn 2s ease-out forwards;
    animation-delay: 0.8s;
}

@keyframes flyIn {
    0% {
        transform: translate(200%, 100%) scale(1.5) rotate(135deg);
        transform-origin: left;
        opacity: 0.2;
    }

    35% {
        transform: rotate(-15deg);
    }

    50% {
        transform: translate(0, 0) rotate(0);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.start-animation .info-container {
    background: url(./Assets/footer_m.png) no-repeat;
    /* background-position: 0%; */
    background-size: 100% 100%;
    top: 58%;
    height: 42%;
    /* z-index: 2; */
    animation: jumpUpFooter 1s ease-out forwards;
}


@keyframes jumpUpFooter {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer-text {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 116%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-animation .legal {
    width: 93%;
    margin-top: 28%;
    animation: jumpUp 1s ease-out forwards;
}

@keyframes jumpUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}